body{
	font-family: 'Open Sans', sans-serif;
}
.canvas-container{
	/*display: inline-block;*/
	/*width: fit-content;*/
	/*height: fit-content;*/
	border: solid gray 2px;
	border-radius: 15px;
	box-shadow: gray;

	/*width: 45%;*/
}

.slider{
	width: 20vw;
	position: relative;
}

#img-settings{
	display: none;
}

#api-settings{
	display: none;
}

.xx{
	height: 860px;
	display: inline-block;
	border: solid gray 2px;
	border-radius: 15px;
	width: 20%;
	padding: 30px;
	float:left;
}

.main-canvas{
	float:left;
}

.example-container{
    float: left;
    /* left: auto; */
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* display: inline-block; */
    border: solid gray 2px;
    border-radius: 15px;
    width: 15%;
    padding: 30px;
	height: 740px;
	position: relative;

}

.var-container{
    float: right;
    /* left: auto; */
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* display: inline-block; */
    border: solid gray 2px;
    border-radius: 15px;
    width: 20%;
    padding: 30px;
	height: 740px;
	position: relative;

}

#target-canvas{
    width: 300px;
    position: absolute;
    bottom: 0px;
    margin-left: -150px;
    margin-bottom: 60px;
}

.column {
    box-shadow: gray 2;
    /* float: left; */
    /* width: 30%; */
    margin: 50px 2%;
    /* box-sizing: border-box; */
    /* left: auto; */
    right: auto;
}

#loading{
	display: none;
}

input[type="file"] {
    display: none;
}

/* From uiverse.io by @mrhyddenn */
.icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	background: white;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
	/* font-weight: 500;
	font-family: inherit; */
  }
  
  .add-btn:hover {
	width: 120px;
  }
  
  .add-btn::before,
  .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: seagreen;
  }
  
  .add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  
  .add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  
  .icon-btn:focus {
	outline: none;
  }
  
  .btn-txt {
	cursor: pointer;
	padding: 20px 30px;
	opacity: 0;
	transition: opacity 0.2s;
  }
  
  .add-btn:hover::before,
  .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
  }
  
  .add-btn:hover .btn-txt {
	opacity: 1;
  }
  
  .add-icon::after,
  .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: seagreen;
	overflow: hidden;
  }
  
  .add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  
  .add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  
  .add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }
  
  .add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }

  /* From uiverse.io by @absoluteSTrange */
.mode-buttons {
	padding: 17px 40px;
	border-radius: 10px;
	border: 0;
	background-color: rgb(255, 56, 86);
	letter-spacing: 1.5px;
	font-size: 15px;
	transition: all .3s ease;
	box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
	color: hsl(0, 0%, 100%);
   }
   
   .mode-buttons:hover {
	/* box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px; */
	background-color: rgb(230, 59, 84);

   }
   
   .btn-pressed {
	background-color: rgb(255, 56, 86);
	/*50, 168, 80*/
	box-shadow: rgb(201, 46, 70) 0px 3px 0px 0px;
	transform: translateY(5px);
	transition: 200ms;
   }

.buttons-div{
	padding: 15px 0px;
}


/* From uiverse.io by @xXJollyHAKERXx */
.example-btn {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 45px;
	width: 85px;
	border: 0px solid;
	background-image: linear-gradient(45deg,blue,#00f0a0,blue);
	background-size: 500% 400%;
	color: white;
	border-radius: 50px;
	transition: 0.6s all;
   }
   
   .example-btn:hover {
	background-position: 75% 50%;
	transform: perspective(100px)
   }
   
   .example-btn:active {
	transform: scale(0.95);
	transition: 0.1s;
   }