.canvas-container{
	/*display: inline-block;*/
	/*width: fit-content;*/
	/*height: fit-content;*/
	border: solid gray 2px;
	border-radius: 15px;
	box-shadow: gray;
	float:left;
	/*width: 45%;*/
}

.slider{
	width: 20vw;
	position: relative;
}

#img-settings{
	display: none;
}

#api-settings{
	display: none;
}

.xx{
	height: 860px;
	display: inline-block;
	border: solid gray 2px;
	border-radius: 15px;
	width: 20%;
	padding: 30px;
	float:left;
}

.var-container{
    float: right;
    /* left: auto; */
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* display: inline-block; */
    border: solid gray 2px;
    border-radius: 15px;
    width: 20%;
    padding: 30px;
	height: 740px;

}

.column {
    box-shadow: gray 2;
    /* float: left; */
    /* width: 30%; */
    margin: 50px 2%;
    /* box-sizing: border-box; */
    /* left: auto; */
    right: auto;
}